body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(108,165,203);
  background: radial-gradient(circle, rgba(108,165,203,1) 65%, rgba(0,55,91,1) 100%);
}

body, *, 
*:before, 
*:after { 
  box-sizing: border-box; 
}
